.filterbar {
  height: 60px;
  padding: 12px 20px 12px 20px;
  box-shadow: 0 8px 6px -6px #f1f3f6;
}

h4 {
  margin: 0 0 12px 0;
  color: #212121;
}

.filterbar input {
  width: 100%;
  border: none;
  border-bottom: solid 2px #000000;
}

.filterbar input:focus-visible {
  outline: none;
}

.filterbar input::placeholder {
  color: #878787;
}
