.chatitem {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  position: relative;
  direction: ltr;
}
.chatitem-selected {
  background-color: #f1f3f6;
}
.chaticon {
  padding: 0px 20px 12px 20px;
}
.chaticon img {
  width: 45px;
  height: 45px;
}
.chatitem h5 {
  margin: 0 0 4px 0;
  color: #000000;
}

.chatcontentcontainer .timeContainer {
  position: absolute;
  top: 5%;
  right: 3%;
  color: #878787;
}

.description,
.description h5 {
  color: #878787;
}
